<!DOCTYPE html>
<html>
<head>
	<title>Map</title>
	<meta charset="utf8"/>
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='font-awesome/css/font-awesome.css') }}">
</head>
<body>

<div id="map" style="width: 100%; min-height:600px; height: 100%;"></div>

<div id="routeInfo" class="text-center" style="background: #fff;
    position: fixed;
    bottom: 0;
    font-size: xx-large;
    border: 1px solid grey;
    width: 100%;
    padding: 10px;
    left: 0;">

</div>

<div id="adjustMap" onclick="adjustMap()" style="background: #fff;position: fixed;
    top: 50px;
    right: 10px;
	padding: 5px;
    border-radius: 2px;
    border: 1px solid #ccc;
    min-width: 25px;
    text-align: center;
	cursor: pointer;">
    <i class="fa fa-location-arrow"></i>
</div>

{% block content %}
{% endblock %}

<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/jq.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/map.js') }}"></script>
</body>
</html>