<!DOCTYPE html>
<html>
<head>
	<title>Map</title>
	<meta charset="utf8"/>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
</head>
<body>

<div id="map" style="width: 100%; height: 800px;"></div>

<div id="routeInfo" class="text-center" style="background: #fff;
    position: fixed;
    bottom: 0;
    font-size: xx-large;
    border: 1px solid grey;
    width: 100%;
    padding: 10px;
    left: 0;">

</div>

{% block content %}
{% endblock %}

<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/jq.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/map.js') }}"></script>
</body>
</html>